argcomplete==3.5.1
backports.zoneinfo==0.2.1
bitarray==3.0.0
bitstring==4.3.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
click==8.1.7
colorzero==1.1
crcmod==1.7
dbus-python==1.2.16
distro==1.5.0
gpiozero==1.6.2
h3==4.2.0
idna==2.10
iotop==0.6
jc==1.14.3
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2020.10.1
KismetCaptureRtladsb==2020.10.1
KismetCaptureRtlamr==2020.10.1
netifaces==0.11.0
numpy==2.0.2
packaging==24.1
pipx==1.1.0
protobuf==3.12.4
pycparser==2.22
pycrate==0.7.8
Pygments==2.7.1
PyGObject==3.38.0
pyserial==3.5b0
python-apt==2.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyusb==1.0.2
qcsuper==2.0.1
requests==2.25.1
RPi.GPIO==0.7.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scapy==2.4.4
scat @ git+https://github.com/fgsect/scat@90be06a96c78f19a7bc6f9c3f8ef0d748d7ce205
six==1.16.0
spidev==3.5
ssh-import-id==5.10
timezonefinder==6.5.8
toml==0.10.1
tzdata==2025.1
ufw==0.36
urllib3==1.26.5
userpath==1.9.2
websockets==8.1
xmltodict==0.12.0
